
.wrapper {


}

body{
    padding: 0;
    margin: 0;
    /*background-image: url('/img/congruent_outline.png');*/




}


.header {
    
    
    width: auto;
    height: 20%;





}

.driehoek{
    background-image: url('/img/fancy-driehoek.png');
    background-repeat: no-repeat;
    height: 290px;
    width: 400px;
    position: fixed;
    padding: 55px;
    z-index: 1000;
}

.menu{
    float: left;
    position: absolute;
    height: 100%;
    display: none;
    background: lightgrey;
    width: 250px;
    z-index: 999;
}

.menu nav{
    margin-top: 400px;

}

.menu nav ul{
    margin: 0;
    padding: 0;
}

.menu nav ul li{

}

.menu nav ul li a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-family: Tahoma;
    font-weight: 400;
}

.menu nav ul li a:hover{
    background: #31302B;
}

.leftheader{
position:fixed;
align-self: center;
    
     
    
    


}

.textArea {
    background-image: url('/img/congruent_outline.png');
    background-repeat: repeat;
    width: 100%;
    height: 40%;
    top: 50%
        
}


.buttonArea {
    background-image: url(img/congruent_outline.png);
    background-repeat: repeat;
    width: 100%;
    height: 30%;

}



#ico{
    width: 3%;
    height: 3   %;
    padding-top: 10px;
    clear: both;
    
   

}
 
.rotate{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
 
    }  
 
.rotate:hover  
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}  

/*background-color: #303C4A;
    background-color:#283E59;
    background-color:#303C4A;
*/
h1 {
    margin :0;
    padding: 15px;
    color: white;
    font-size: 100px;
    font-family: segoe UI;
    font-weight: 100;
    
}

.logo{
    margin: auto;
    width: 50%;
}

.start_button {
     color: #31302B;
    background: #FFF;
    padding: 12px 17px;
    margin: 25px;
    font-family: 'OpenSansBold', sans-serif;
    border: 3px solid #31302B;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #31302B;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
        margin: auto;

}

.start_button:hover {
    box-shadow: inset 0 100px 0 0 #31302B;
    color: #FFF;
}

.driehoek img {
    
}

#toverstok:hover {
    cursor: pointer;
}
